        /*================= 
            general selection 
        =================*/
        *{
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            text-decoration: none;
        }

        /*--------- storing colors in css variables ---------*/

        :root{
        --success: #00ff00;
        --danger: #ff0000;
        --bg: #ffcc;
        --light2: #ffa366;
        --button: #ff6600;
        --text: #000;
        --light: #fff;
        --color1: #f008f0;
        --color2:rgb(16, 63, 214)0;
    }
        /* :root{
            --bg: #ffcc;
            --light2: hsl(240, 50%, 65%);
            --button: #333399;
            --text: #000;
            --light: #fff;
            --h1: font-size: 40px;
        } */
        body
        {
            background: var(--light2);
        }

        /*------ navigation css ------*/
        .navigation
        {
            display: flex;
            justify-content: space-between;
            padding: 20px 25px;
        }

        .navigation .logo
        {
            color: var(--button);
            font-size: 30px;
        }
        .navigation .button{
            background: var(--button);
            padding: 10px 15px;
            color: var(--light);
            border-radius: 20px 20px 0;
        }
        /*======== user home css ========*/
        .home
        {
            background: var(--light2);
        }
        .home .user
        {
            color: var(--light);
            font-size: 30px;
        }
        .home .button{
            background: var(--light);
            border: 1px solid var(--light2);
            padding: 10px 15px;
            color: var(--light2);
            border-radius: 20px 20px 0;
            margin-top: 5p;
        }
        
        /*------- all catigories css -------*/
        .all-products
        {
            padding: 20px;
            background: var(--light2);
        }
        .all-products h1
        {
            margin: 20px 0;
            text-transform: capitalize;
            text-align: center;
            color: var(--light);
        }
        .catigories-container
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }
        .catigories
        {
            background: transparent;
            border: 1px solid var(--button);
            padding: 20px;
            text-align: center;
        }
        .catigories a
        {
            color: var(--light);
            font-size: 30px;
            margin-bottom: 10px;
        }
        .catigories .items-img
        {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .items-btn{
            text-align: center;
            margin: 20px;
        }
        .more
        {
            color: var(--light);
        }
        .catigories .fas{
            font-size: 40px;
        }
        .allcat
        {
            text-align: center;
            background: var(--light);
            color: var(--button);
            padding: 15px 25px;
        }
        .non
        {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            text-align: center;
            justify-content: center;
        }
        .non a
        {
            text-align: center;
            margin-left: 10px;
            background: var(--light);
            color: var(--button);
            padding: 15px 25px;
        }
        .non p{
            color: var(--light);
            margin-right: 10px;
        }

        @media(max-width: 700px)
         {
        .catigories-container
            {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            }
        }