/*================= 
    general selection 
=================*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

/*--------- storing colors in css variables ---------*/
/* 
:root{
    --bg: #ffcc;
    --light2: #7979d2;
    --button: #333399;
    --success: #00ff00;
    --danger: #ff0000;
    --text: #000;
    --light: #fff;
    --color1: #f008f0;
    --color2:rgb(16, 63, 214)0;
} */
:root{
    --danger: #ff0000;
    --success: #00ff00;
    --wait: #0000ff;
    --bg: #ffcc;
    --light2: #ffa366;
    --button: #ff6600;
    --text: #000;
    --light: #fff;
    --color1: #f008f0;
    --color2:rgb(16, 63, 214)0;
}
/* orders page */
.orders
{
    background: var(--light2);
}
.orders-container
{
    display: flex;
    justify-content: space-around;
    padding: 20px 25px;
}
.orders-container .col
{
    flex-basis: calc(100% /2);
    margin: 0 10px;
}
.col .order-pic
{
    height: 300px;
    object-fit: cover;
    width: 300px;
}
.col p{
    color: var(--light);
    font-size: 35px;
    text-transform: capitalize;
}
.orders-container .form
{
    padding: 10px 10px 8px 10px;
    border-radius: 10px;
    background: var(--light);
}
.form .field-1
{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.field
{
    margin: 20px;
}
.field label
{
    color: var(--light2);
    margin-left: 5px 3px;
    text-transform: capitalize;
}
.form .field input
{
    outline: none;
    padding-left: 8px;
    color: var(--light2);
    font-size: 12px;
    width: 100%;
    height: 45px;
    border: 1px solid var(--light2);
}
.field ::placeholder
{
    color: var(--light2);
}
.order-button
{
    width: 100%;
    margin: 10px 0;
}
.order-button input[type=submit]
{
    background: var(--light2);
    color: var(--light);
    padding: 8px 15px;
    width: 100%;
    font-size: 15px;
    outline: none;
    border: 0;
    cursor: pointer;
}
@media(max-width: 700px)
{
 .col 
 {
     flex-basis: 100%;
     margin: 10px 20px;
 }
.orders-container
{
    flex-direction: column;
   } 
}